/*
Adapted from: https://css-snippets.com/simple-horizontal-navigation/
*/

h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

body {
  margin: 0;
  padding: 3;
  background: #FFFFFF;
  text-align: center;
}

input[type="file"]
{
    font-size:20px;
}

input[type="submit"]
{
    font-size:20px;
}

input[type="text"]
{
    font-size:20px;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 100px;
  height: 100px;
  border-bottom: 1px solid #888;
  white-space: normal;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #06A77D;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 400px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .text-center {
  text-align: center;
}
p {
  margin-left: 20px;
}

}