<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>How to fill in the CSV</title>
    <meta charset="UTF-8">
    <title>Opti</title>

</head>
<body>
    <header>
        <div class="nav">
          <ul>
            <li class="home"><a href="/">Upload the Excel Sheet</a></li>
            <li class="models"><a href="/model">About this Model</a></li>
            <li class="about"><a href="/instructions">How to Format your Excel Sheet</a></li>
            <li class="view"><a href="/dbview">View your Excel Sheet</a></li>
          </ul>
        </div>
      </header>

    <div class="content">
    		<h1>How to format the CSV</h1>
        <p>There should be 8 tabs: </p>
        <ul>
          <li> &bull; distance</li>
          <li> &bull; truck</li>
          <li> &bull; demand</li>
          <li> &bull; start </li>
          <li> &bull; damages</li>
          <li> &bull; speedLimit</li>
          <li> &bull; emissions</li>
          <li> &bull; nodeLookUp</li>
        </ul>

        <ol>
            <li>The distance tab has the columns: Origin_ID, Destination_ID, and Length_m. This tab is the distances for each node.</li>
            <li>The truck tab has the columns: id_truck, capacity, type, gasVdiesel, and esal. This tab is the information about the truck.</li>
            <li>The demand tab has the columns: node_id and demand_units. This tab is all the information abotu the demand.</li>
            <li>The start tab has the column: clcLocation. It holds the start location of the trucks.</li>
            <li>The damages tab has the columns: Origin_ID, Destination_ID, and Trip_Cost_dollar. This tab has the information about the damages based on the road classifications.</li>
            <li>The speedLimit tab has the columns: Origin_ID, Destination_ID, and Speed_Limit. This tab holds all the speeds for each arc. This is used for emissions calculations.</li>
            <li>The emissions tab has the columns: typeTruck,gasVdiesel, speed, costperKm. This tab holds all the simulations of emissions for different types of trucks.</li>
            <li>The nodeLookUp tab has the columns: lookup_ID, Latitude, and Longitude. It holds the mapping information for all the nodes in the graph. </li>
        </ol>
    </div>
</body>
</html>