<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>How to fill in the CSV</title>
    <meta charset="UTF-8">
    <title>Opti</title>

</head>
<body>
    <header>
        <div class="nav">
          <ul>
            <li class="home"><a href="/">Upload the Excel Sheet</a></li>
            <li class="models"><a href="/model">About this Model</a></li>
            <li class="about"><a href="/instructions">How to Format your Excel Sheet</a></li>
            <li class="view"><a href="/dbview">View your Excel Sheet</a></li>
          </ul>
        </div>
      </header>

    <div class="content">
    		<h1>How to format the CSV</h1>
        <p align="left">   There should be 8 tabs: </p>
        <ol>
          <li align="left">  distance</li>
          <li align="left"> truck</li>
          <li align="left"> demand</li>
          <li align="left">  start </li>
          <li align="left"> damages</li>
          <li align="left"> speedLimit</li>
          <li align="left"> emissions</li>
          <li align="left">  nodeLookUp</li>
        </ol>

        <ol>
            <li align="left">The distance tab has the columns: Origin_ID, Destination_ID, and Length_m. This tab is the distances for each node.</li>
            <li align="left">The truck tab has the columns: id_truck, capacity, type, gasVdiesel, and esal. This tab is the information about the truck.</li>
            <li align="left">The demand tab has the columns: node_id and demand_units. This tab is all the information abotu the demand.</li>
            <li align="left">The start tab has the column: clcLocation. It holds the start location of the trucks.</li>
            <li align="left">The damages tab has the columns: Origin_ID, Destination_ID, and Trip_Cost_dollar. This tab has the information about the damages based on the road classifications.</li>
            <li align="left">The speedLimit tab has the columns: Origin_ID, Destination_ID, and Speed_Limit. This tab holds all the speeds for each arc. This is used for emissions calculations.</li>
            <li align="left">The emissions tab has the columns: typeTruck,gasVdiesel, speed, costperKm. This tab holds all the simulations of emissions for different types of trucks.</li>
            <li align="left">The nodeLookUp tab has the columns: lookup_ID, Latitude, and Longitude. It holds the mapping information for all the nodes in the graph. </li>
        </ol>
    </div>
</body>
</html>