<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODEL</title>
    <meta charset="UTF-8">
    <title>Opti</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/">FlaskApp</a>
        <a href="/model">About the Model</a>
	    <a href="/instructions">How to format the CSV</a>
    </nav>
    <div class="content">
    		<h1>This model has X parameters.</h1>
    </div>
</body>
</html>