<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta charset="UTF-8">
    <title>How to fill in the CSV</title>
    <meta charset="UTF-8">
    <title>Opti</title>

</head>
<body>
    <header>
        <div class="nav">
          <ul>
            <li class="home"><a href="/">Upload the Excel Sheet</a></li>
            <li class="models"><a href="/model">About this Model</a></li>
            <li class="about"><a href="/instructions">How to Format your Excel Sheet</a></li>
            <li class="view"><a href="/dbview">View your Excel Sheet</a></li>
          </ul>
        </div>
      </header>

    <div class="content">
    		<h1>The shortest path algorithm</h1>
    		<h1>The heuristic algorithm</h1>

            {% for li in listPrint %}
            <h2>{{li[0]}}</h2>
            <h2>{{li[:]}}</h2>
            {% endfor %}
            {{ body_html|safe }}
    </div>
</body>
</html>